{% autoescape off %}
Hi {{ user.first_name|default:user.username }},

We received a request to reset your password for your TechStore account.

Click the link below to set a new password:

{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

This link will expire in 24 hours.

If you didn't request a password reset, please ignore this email. Your password will remain unchanged.

For security reasons, never share this link with anyone.

Best regards,
TechStore Team

---
This is an automated message, please do not reply.
{% endautoescape %}